# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Build & Dist
client/dist/
dist/

# Environment variables
.env
server/.env
*.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# OS & Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
